.carouselDiv{
  background-color: #fafafa;
  margin: 1px;
  padding: 1rem;
  border: 2px solid #ccc;
  /* IMPORTANTE */
  text-align: center;
}

.space{
  margin-top: 50px;
}

p{
    font-size: 25px;
    
}